<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.psyche">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Psyche"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Psyche">
        <activity
            android:name=".Profile"
            android:label=""
            android:parentActivityName=".SelectGoal"
            android:theme="@style/Theme.Psyche.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectGoal" />
        </activity>
        <activity
            android:name=".SelectGoal"
            android:label=""
            android:parentActivityName=".Questionnaire"
            android:theme="@style/Theme.Psyche.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Questionnaire" />
        </activity>
        <activity
            android:name=".Questionnaire"
            android:label=""
            android:parentActivityName=".OnboardingScreen"
            android:theme="@style/Theme.Psyche.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OpeningScreen" />
        </activity>
        <activity
            android:name=".OnboardingScreen"
            android:label=""
            android:parentActivityName=".OpeningScreen"
            android:theme="@style/Theme.Psyche.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OpeningScreen" />
        </activity>
        <activity android:name=".OpeningScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>